final
test_summary.mp3
# Git
.git
.gitignore

# Python virtual environment
.venv
venv

# Python cache
__pycache__
*.pyc
*.pyo

# Docker
Dockerfile
.dockerignore

# IDE and OS-specific
.idea
.vscode
*.DS_Store